.dayGrid {
    position: relative;
    display: none;
}

.listView {
    display: block;
}

.fc {
    display: block;
    margin: 1rem 5%;
    padding: 3rem;
    height: fit-content;
    background-color: white;
    border-radius: 2rem;
    z-index: 1;

    --fc-border-color: black;
}

.fc-icon-chevron-left::before {
    content: '\276E';
}

.fc-icon-chevron-right::before {
    content: '\276F'
}

.event-modal {
    display: none;
    background-color: lightskyblue;
    border: .125rem solid black;
    border-radius: 1rem;
    padding: .125rem .5rem;
    z-index: 1000;
    max-width: 22rem;
}

.event-modal.show {
    position: absolute;
    display: block;
}

.flex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: .5rem;
}

.event-modal h3 {
    justify-content: space-between;
}

.event-modal-top h3 {
    display: inline;
}

@media only screen and (orientation: landscape) {
    .dayGrid {
        display: block;
    }

    .listView {
        display: none;
    }
}