.cshs-calendar {
    border: none;
    scroll-behavior: none;
    padding: 0 5%;
    width: 100%;
    height: 660px;
}

@media only screen and (max-width: 768px) {
    .cshs-calendar {
        height: 300px;
    }
}