* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-bottom: solid .125rem #F5F5F5;
    background-color: rgba(0, 0, 0, 0.75);
    /* box-shadow: 0px 6px 32px rgba(135, 206, 250, 0.25); <-- if non-pattern background */
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
}

.nav li.active {
    color: lightskyblue;
}

.nav li:hover {
    box-shadow: 0px 0px 12px lightskyblue;
    border-radius: 1rem;
}