body {
    /* background-color: #00080D; */

    /* background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #2ab7ff 48px), repeating-linear-gradient(#1013c5, #ff003d);
    background-color: #2ab7ff; */

    background-image: radial-gradient(circle at center center, #1013c5, #2ab7ff), repeating-radial-gradient(circle at center center, #1013c5, #ff003d, 96px, transparent 96px);
    background-blend-mode: multiply;
    background-color: #2ab7ff;

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
}

.photos-slideshow {
    margin: 0;
    padding: 0 5%;
    width: 100%;
}

hr {
    color: whitesmoke;
    margin: 7vh 0;
    box-shadow: 0px 4px 32px rgba(135, 206, 250, 0.25);
}