body {
    background-color: #00080D;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
}

.photos-slideshow {
    margin: 0;
    padding: 0 5%;
    width: 100%;
}

hr {
    color: whitesmoke;
    margin: 7vh 0;
    box-shadow: 0px 4px 32px rgba(135, 206, 250, 0.25);
}